{% extends 'accounts/base.html' %}
{% load static %}

{% comment %} This is the html page rendered at view-note url. It's base template is accounts/base.html. {% endcomment %}
{% comment %} 'note' is passed as context to this page.{% endcomment %}

{% block content %}
<div class="row mt-2">
  <div class="col-12 col-lg-4 d-flex centerit">
    <ul class="nav nav-pills navhome">
      <li class="nav-item px-3">
        <a class="nav-link navhomeitem active" href="{%url 'view-all-notes'%}">NOTES</a>
      </li>
      <li class="nav-item ml-2 px-3 ">
        <a class="nav-link " href="{%url 'view-all-tasks'%}">TO-DO</a>
      </li>
    </ul>
  </div>
  <div class="col  d-flex centerit">
    <form name="searchnotesform" method="GET" action="{% url 'search-notes' %}">  
      <input type="text" name="search" placeholder="Search" class="searchall mt-3" style="outline:none;" width="150%"/>
      <button id="search_submit" type="submit" class="d-inline mt-2" >
        <img src="{%static "images/search.png" %}" class="img-fluid searchimg"/>
      </button>
    </form> 
  </div>
  <div class="col d-none d-md-inline mt-2">
    <a role="button" class="btn float-right rounded-circle addnote " href="{%url 'add-note'%}">
      <img src="{%static "images/add.png" %}" class="img-fluid">
    </a>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <span class="vntitle col-9 ">{{note.title}}</span>
    {% if note.is_starred %}
      <div class="vnpin col-2">
        <img src="{%static "images/pin.png" %}" class="img-fluid pinimg float-right" >
      </div>
    {% endif %}
  </div>
  <div class="row vncontent col-12">
    <span>{{note.content}}</span>
  </div>
  <div class="row d-flex">
    <span class="vntags col-8">
      <div class="row">
        <span class="col-1">Tags:</span>
        <div class="col-10">
          {% for tag in note.tags.all %}
          <span class="mr-1 mt-1 badge badge-dark p-1">#{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </span>
    <span class=" d-none d-md-flex col-3 mt-2 justify-content-end ">
      <a class="btn btn-outline-danger " href="{% url 'view-all-notes' %}" role="button">BACK</a>
      <a class="btn btn-outline-danger ml-1" href="{% url 'update-note' note.id %}" role="button">EDIT</a>
      <a class="btn btn-outline-danger ml-1" href="{% url 'confirm-delete-note' note.id %}" role="button">DELETE</a>
    <span>
  </div>
  <div class=" row d-flex ">
      <span class="ml-auto d-md-none ">
          <a href="{% url 'update-note' note.id %}" class="">
            <img src="{%static "images/edit.png" %}" class="img-fluid">
          </a>
          <a href="{% url 'confirm-delete-note' note.id %}" class="">
            <img src="{%static "images/delete_nd.png" %}" class="img-fluid">
          </a>
      </span>
  </div>
</div>
{% endblock %}